.myNav{height:60px}
.jumbotron{background-color:orange}
.items{float:left}
#kontejner{background-color:yellow}

#linkovi{background:violet;height:20px}
#kontakti{background:green;height:20px}
#dole{background:pink;height:20px}


